body {
    font-family: 'Josefin Slab', serif;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.img {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    margin: 20px;
    background: url('../images/kyle-johnson-TEZZzuQTt8g-unsplash.jpg') no-repeat center;
    background-size: cover;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
   
}
.form {
    overflow: auto;
    width: 60%;
}

.form-label {
    font-weight: 800;
    font-size: 20px;
    display: block;
    transition: all 0.5s;
    transform: translateY(-3.4rem);

}

.form-input {
    border: 2px solid black;
    color: lightslategray;
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 00.2rem;
    width: 100%;
    display: block;
    transition: all 0.5s;
    margin-top: 5%;
    padding-right: 10%;
}

.form-input:focus {
    transition: 0.2s;
    outline: none;
    border: 2px solid mediumblue;
}