* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Slab', serif;
    overflow: hidden;
    display: flex;
   
}

.png{
    max-width: 30px;
    max-height: 30px;
}

.container{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	overflow: hidden;
    width: 40%;
}

.container> img {
    max-height: 100vh;
	object-fit: cover;
}


.banner {
    position: absolute;
	display: flex;
	justify-content: center;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	top: 40%;
	width: 40%;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.3);
}

.banner h1 {
	color: white;
	margin: 0;
	font-size: 3.5rem;
	font-weight: 300;
}

.banner .logo {
	height: 6rem;
	min-width: auto;
	object-fit: contain;
}



.form {
    overflow: auto;
    width: 60%;
    margin: 0;
    padding: 0;
    margin-top: 5%;
    height: 70%;
}

.form > * {
    margin-top: 0x;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
  }

.form-label {
    font-weight: 800;
    font-size: 20px;
    display: block;
    transition: all 0.5s;
    transform: translateY(-3.4rem);

}

.form-input {
    border: 2px solid black;
    color: lightslategray;
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 00.2rem;
    width: 100%;
    display: block;
    transition: all 0.5s;
    margin-top: 5%;
    padding-right: 10%;
}

.form-input:focus {
    transition: 0.2s;
    outline: none;
    border: 2px solid mediumblue;
}

form {
    padding-top: 3%;
    width: 100%;
    margin-left: 0%;
    background-color: rgba(0, 0, 0, 0.034);
  }
.inputs {
     margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 90%;
    
}

.inputs > :last-child {
    padding-left: 10%;
  }

  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: none;
    font-size: 30px;
    background: #009900;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
      inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
      0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #dfdedf;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    border-bottom: 2px solid rgb(139, 139, 139);
    border-right: 2px solid rgb(139, 139, 139);
  }

  .btn:hover {
    outline: 0;
    box-shadow: inset 0px 0.8px 1px -0.25px rgba(255, 255, 255, 0.2),
      0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  }

  .login {
    color: #009900;
  }

  .error {
    border: 2px solid red;
  }
  .errorMessage {
    font-size: 25px;
    font-weight: 900;
    color: red;
  }